html {
    background-color: aliceblue;
}

.more_info_movie {
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
    margin-block-end: 5rem;

}

.movie-detail {
  background-color: white;
  border-radius: 5px;
}

.information {
    margin: 2rem;
}



ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    padding-block-end: 1rem;
}

li {
    margin-right: 3rem;
}

.release_score {
    display: flex;
    justify-content: space-between;
}

.movie_data_release, .movie_tr_score {
    padding-block-start: 1.5rem;
}

.movie_data_release {
    margin-right: 10rem ;
}